# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
ios/
ios/twilioconversationsdemoreactnative/
ios/twilioconversationsdemoreactnative.xcodeproj/
ios/twilioconversationsdemoreactnative.workspace/
/ios/Pods/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.env
.env.*
!.env.example

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# Firebase Connection
GoogleService-Info.plist

# @end expo-cli
communidy.zip

# SFDC Deployment artifacts
sfdeploy/pages/Communidy.page
sfdeploy/staticresources/ReactApp.resource

# typescript
*.tsbuildinfo
RESOURCES